{% extends "layout.html" %}

{% block title %}
Edit Citation
{% endblock %}

{% block body %}

<h2>Edit citation. Citation id: {{citation_id}}</h2>

<form action="/update_citation/{{citation_id}}" method="post">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <label for="type">Type:</label>
    <select name="type" id="type" onchange="changeFields()">
        <option value="article" selected>Article</option>
        <option value="inproceeding">Inproceeding</option>
        <option value="book">Book</option>
    </select>
    <div>
        <label for="author">Author:</label>
        <input type="text" name="author" required>
    </div>
        <label for="title">Title:</label>
        <input type="text" name="title" required>
    <div>
        <label for="year">Year:</label>
        <input type="number" name="year" required>
    </div> 
    <div class="inproceedings changing_field">
        <label for="booktitle" id="booktitle_label" >Booktitle:</label>
        <input type="text" name="booktitle">
    </div>
    <div class="article changing_field">            
        
        <label for="journal" id="journal_label" >Journal:</label>
        <input type="text" name="journal" >
    </div>
    <div class="article changing_field">
        <label for="volume" id="volume_id" >Volume:</label>
        <input type="text" name="volume" >
            
    </div>
    <div class="article changing_field">
        <label for="pages" id="pages_id" >Pages:</label>
        <input type="text" name="pages" >        
    </div>
    <div class="book changing_field">
        <label for="publisher" id="publisher_id" >Publisher:</label>
        <input type="text" name="publisher">        
    </div>

    
    <button type="submit">
        Create
    </button>
</form>

<script>
    function changeFields(){
        var type = document.querySelector('select[name="type"]').value;

        var changingFields = document.querySelectorAll('.changing_field');

        var inproceedingsFields = document.querySelectorAll("div.inproceedings");
        var articleFields = document.querySelectorAll("div.article");
        var bookFields = document.querySelectorAll("div.book");

        changingFields.forEach(item => {
            item.style.display = "none";
        });

        if (type === "article"){
            articleFields.forEach(item => item.style.display = "block");

        } else if (type === "inproceeding"){
            inproceedingsFields.forEach(item => item.style.display = "block");

        } else if (type === "book"){
            bookFields.forEach(item => item.style.display = "block");
        }

        
    
    }

    document.addEventListener("DOMContentLoaded", function(){
            changeFields();
        });
</script>

{% endblock %}