{% extends "layout.html" %}

{% block title %}
Edit Citation
{% endblock %}

{% block body %}


<div class="container">
    <form class="row g-3" action="/update_citation/{{citation_id}}" method="POST">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <div class="form-group col-md-12"> 
            <div class="col-md-2 p-0 ">
                <input type="text" name="type" id="type" class="form-control typetext" value="Edit {{ citation.type }}" readonly>
            </div>
        </div>

        <div class="mb-3 col-md-6">
            <label for="author" class="form-label">Author:</label>
            <input type="text" name="author" class="form-control w-75" value="{{ citation.author }}" required>
        </div>

        <div class="mb-3 col-md-6">
            <label for="title" class="form-label">Title:</label>
            <input type="text" name="title" class="form-control w-75" value="{{ citation.title }}" required>
        </div>

        <div class="mb-3 col-md-6">
            <label for="year" class="form-label">Year:</label>
            <input type="number" name="year" class="form-control w-75" value="{{ citation.year }}" required>
        </div>

        {% if citation.type == "inproceeding" %}
        <div class="mb-3 col-md-6">
            <label for="booktitle" class="form-label">Booktitle:</label>
            <input type="text" name="booktitle" class="form-control w-75" value="{{ citation.booktitle }}">
        </div>
        {% endif %}

        {% if citation.type == "article" %}
        <div class="mb-3 col-md-6">
            <label for="journal" class="form-label">Journal:</label>
            <input type="text" name="journal" class="form-control w-75" value="{{ citation.journal }}">
        </div>

        <div class="mb-3 col-md-6">
            <label for="volume" class="form-label">Volume:</label>
            <input type="text" name="volume" class="form-control w-75" value="{{ citation.volume }}">
        </div>
        {% endif %}

        {% if citation.type in ["article", "book"] %}
        <div class="mb-3 col-md-6">
            <label for="pages" class="form-label">Pages:</label>
            <input type="text" name="pages" class="form-control w-75" value="{{ citation.pages }}">
        </div>
        {% endif %}

        {% if citation.type == "book" %}
        <div class="mb-3 col-md-6">
            <label for="publisher" class="form-label">Publisher:</label>
            <input type="text" name="publisher" class="form-control w-75" value="{{ citation.publisher }}">
        </div>
        {% endif %}

        <div class="col-12">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
</div>

{% endblock %}
