{% extends "layout.html" %}

{% block title %}
LatexLab
{% endblock %}

{% block body %}
<h1>LatexLab</h1>

<ul>
    {% for citation in citations %}
    <li>
        <strong>Type:</strong> {{ citation.type }}<br>
        <strong>Author:</strong> {{ citation.author }}<br>
        <strong>Title:</strong> {{ citation.title }}<br>
        <strong>Year:</strong> {{ citation.year }}<br>
        <strong>Book Title:</strong> {{ citation.booktitle }}<br>
        <form action="/delete_citation" method="POST" style="margin-top: 10px;">
            <input type="hidden" name="id" value="{{ citation.id }}">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <br>
    </li>
    {% else %}
    <li>You don't have any citations</li>
    {% endfor %}
</ul>

<a href="/new_citation">New citation</a>
{% endblock %}