{% extends "layout.html" %}

{% block title %}
LatexLab
{% endblock %}

{% block body %}
<h1 class="text-center">LatexLab</h1>

<ul>
    <div class="d-flex justify-content-center align-items-center">
        <a class="btn btn-primary" href="/new_citation">New citation</a>
    </div>
    
    {% if citations|length > 0 %}
        <input class="form-control mx-auto col-md-2" type="text" id="citationSearch" placeholder="Filter citations..." onkeyup="filterCitations()">
        <div class="d-flex justify-content-center align-items-center">
            <p id="searchFor" class="d-none">Search for: <span></span></p>
        </div>
        
        <br>
        <div class="d-flex justify-content-center align-items-center">
            <button class="btn btn-success" onclick="saveAllBibtexToFile()">Save all as BibTex</button>
        </div>
    {% endif %}

    {% for citation in citations %}

    <div class="citation-item mx-auto">
        <span class="type-card">{{ citation.type }}</span> <br>
        <div class="info-list">
            <div><span class="info-label">Author</span><span class="info-value">{{ citation.author }}</span></div>
            <div><span class="info-label">Title</span><span class="info-value">{{ citation.title }}</span></div>
            <div><span class="info-label">Year</span><span class="info-value">{{ citation.year }}</span></div>
            {% if citation.type == "article" %}
                <div><span class="info-label">Journal</span><span class="info-value">{{ citation.journal }}</span></div>
                <div><span class="info-label">Volume</span><span class="info-value">{{ citation.volume }}</span></div>
                <div><span class="info-label">Pages</span><span class="info-value">{{ citation.pages }}</span></div>
            {% elif citation.type == "inproceeding" %}
                <div><span class="info-label">Book title</span><span class="info-value">{{ citation.booktitle }}</span></div>
            {% elif citation.type == "book" %}
                <div><span class="info-label">Publisher</span><span class="info-value">{{ citation.publisher }}</span></div>
            {% endif %}
        </div>

        <button class="btn btn-success" bibtex-clipboard-data="{{ citation.as_bibtex }}" onclick="toClipboard(this)">Bibtex to
            clipboard</button>
        <button class="btn btn-success" bibtex-file-data="{{ citation.as_bibtex }}" onclick="toFile(this)">Save as BibTex</button>

        <div class="d-flex mt-1">
            <form action="/edit_citation/{{ citation.id }}" method="GET" class="me-2">
                <input type="hidden" name="id" value="{{ citation.id }}">
                <button type="submit" class="btn btn-secondary">Edit</button>
            </form>
            <form action="/delete_citation/{{ citation.id }}" method="POST" ">
                <input type="hidden" name="id" value="{{ citation.id }}">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            
        </div>
    </div>

    <br>
    {% else %}

    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="p-2 bg-info bg-opacity-10 border border-info border-start-2 rounded col-md-2 text-center">
            No citations found
        </div>
    </div>
    
    {% endfor %}
</ul>


<script>
    function filterCitations() {
    const input = document.getElementById('citationSearch');
    const searchTerm = input.value.toLowerCase();
    const searchForElement = document.getElementById('searchFor');
    const searchTermDisplay = searchForElement.querySelector('span');
    const citations = document.querySelectorAll('.citation-item');
    const saveAllButton = document.querySelector('button[onclick="saveAllBibtexToFile()"]');
    let hasVisibleCitations = false;

    citations.forEach(citation => {
        const citationText = citation.innerText.toLowerCase();

        if (citationText.includes(searchTerm)) {
            citation.style.display = ''; // Näytetään
            hasVisibleCitations = true;
        } else {
            citation.style.display = 'none'; // Piilotetaan
        }
    });

    // Hakutermien päivitys ja tallennuspainikkeen tila
    searchTermDisplay.textContent = searchTerm;
    if (searchTerm.trim() === '') {
        saveAllButton.style.display = ''; // Näytetään tallennuspainike
        searchForElement.classList.add('d-none'); // Piilotetaan hakuilmoitus
    } else {
        saveAllButton.style.display = 'none'; // Piilotetaan tallennuspainike
        searchForElement.classList.remove('d-none'); // Näytetään hakuilmoitus
    }

    // Näytetään/pidetään piilossa "Ei tuloksia" -viesti
    const noResultsMessage = document.getElementById('noResultsMessage');
    if (hasVisibleCitations) {
        noResultsMessage.style.display = 'none';
    } else {
        noResultsMessage.style.display = 'block';
    }
}


    function toClipboard(buttonElement) {
        const text = buttonElement.getAttribute('bibtex-clipboard-data');
        navigator.clipboard.writeText(text);
    }

    function toFile(buttonElement) {
        const text = buttonElement.getAttribute('bibtex-file-data');
        const blob = new Blob([text], { type: 'application/x-bibtex' });

        const link = document.createElement('a');
        link.href = URL.createObjectURL(blob);
        link.download = 'citations.bib';
        link.click();
    }

    function saveAllBibtexToFile() {
        const citationButtons = document.querySelectorAll('button[bibtex-file-data]');
        let allBibtexData = '';

        citationButtons.forEach(button => {
            allBibtexData += button.getAttribute('bibtex-file-data') + '\n';
        });

        if (allBibtexData) {
            const tempButton = document.createElement('button');
            tempButton.setAttribute('bibtex-file-data', allBibtexData);
            toFile(tempButton);
        }
    }
    
</script>
{% endblock %}