{% extends "layout.html" %}

{% block title %}
LatexLab
{% endblock %}

{% block body %}
<h1>LatexLab</h1>

<ul>
    <div>
        <a class="btn btn-primary" href="/new_citation">New citation</a>
    </div>
    
    {% if citations|length > 0 %}
        <input class="form-control col-md-2" type="text" id="citationSearch" placeholder="Filter citations..." onkeyup="filterCitations()">
        <p id="searchFor" class="d-none">Search for: <span></span></p>
        <br>
        <div>
            <button class="btn btn-success" onclick="saveAllBibtexToFile()">Save all as BibTex</button>
        </div>
        
    {% endif %}

    {% for citation in citations %}

    <div class="citation-item">
        <strong>Type:</strong> {{ citation.type }} <br>
        <strong>Author:</strong> {{ citation.author }} <br>
        <strong>Title:</strong> {{ citation.title }} <br>
        <strong>Year:</strong> {{ citation.year }} <br>
        
        {% if citation.type == "article" %}
            <strong>Journal:</strong> {{ citation.journal }} <br>
            <strong>Volume:</strong> {{ citation.volume }} <br>
            <strong>Pages:</strong> {{ citation.pages }} <br>
        {% elif citation.type == "inproceeding" %}
            <strong>Book title:</strong> {{ citation.booktitle }} <br>
        {% elif citation.type == "book" %}
            <strong>Publisher:</strong> {{ citation.publisher }} <br>
        {% endif %}


        <button class="btn btn-success" bibtex-clipboard-data="{{ citation.as_bibtex }}" onclick="toClipboard(this)">Bibtex to
            clipboard</button>
        <button class="btn btn-success" bibtex-file-data="{{ citation.as_bibtex }}" onclick="toFile(this)">Save as BibTex</button>

        <form action="/delete_citation/{{ citation.id }}" method="POST" style="margin-top: 10px;">
            <input type="hidden" name="id" value="{{ citation.id }}">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <form action="/edit_citation/{{ citation.id }}" method="GET" style="margin-top: 10px;">
            <input type="hidden" name="id" value="{{ citation.id }}">
            <button type="submit" class="btn">Edit</button>
        </form>
    </div>

    <br>
    {% else %}

    <div class="p-2 bg-info bg-opacity-10 border border-info border-start-2 rounded col-md-2">
        No citations found
    </div>
    
    {% endfor %}
</ul>


<script>
    function filterCitations() {
    const input = document.getElementById('citationSearch');
    const searchTerm = input.value.toLowerCase();
    const searchForElement = document.getElementById('searchFor');
    const searchTermDisplay = searchForElement.querySelector('span');
    const citations = document.querySelectorAll('.citation-item');
    const saveAllButton = document.querySelector('button[onclick="saveAllBibtexToFile()"]');
    let hasVisibleCitations = false;

    citations.forEach(citation => {
        const citationText = citation.innerText.toLowerCase();

        if (citationText.includes(searchTerm)) {
            citation.style.display = ''; // Näytetään
            hasVisibleCitations = true;
        } else {
            citation.style.display = 'none'; // Piilotetaan
        }
    });

    // Hakutermien päivitys ja tallennuspainikkeen tila
    searchTermDisplay.textContent = searchTerm;
    if (searchTerm.trim() === '') {
        saveAllButton.style.display = ''; // Näytetään tallennuspainike
        searchForElement.classList.add('d-none'); // Piilotetaan hakuilmoitus
    } else {
        saveAllButton.style.display = 'none'; // Piilotetaan tallennuspainike
        searchForElement.classList.remove('d-none'); // Näytetään hakuilmoitus
    }

    // Näytetään/pidetään piilossa "Ei tuloksia" -viesti
    const noResultsMessage = document.getElementById('noResultsMessage');
    if (hasVisibleCitations) {
        noResultsMessage.style.display = 'none';
    } else {
        noResultsMessage.style.display = 'block';
    }
}


    function toClipboard(buttonElement) {
        const text = buttonElement.getAttribute('bibtex-clipboard-data');
        navigator.clipboard.writeText(text);
    }

    function toFile(buttonElement) {
        const text = buttonElement.getAttribute('bibtex-file-data');
        const blob = new Blob([text], { type: 'application/x-bibtex' });

        const link = document.createElement('a');
        link.href = URL.createObjectURL(blob);
        link.download = 'citations.bib';
        link.click();
    }

    function saveAllBibtexToFile() {
        const citationButtons = document.querySelectorAll('button[bibtex-file-data]');
        let allBibtexData = '';

        citationButtons.forEach(button => {
            allBibtexData += button.getAttribute('bibtex-file-data') + '\n';
        });

        if (allBibtexData) {
            const tempButton = document.createElement('button');
            tempButton.setAttribute('bibtex-file-data', allBibtexData);
            toFile(tempButton);
        }
    }



</script>
{% endblock %}