body {
   font-family: 'Roboto', sans-serif;
   background-color: #f8f9fa;
}

.citation-item {
   background-color: lightgray;
   padding: 10px;
   margin-bottom: 10px;
   border-radius: 5px;
   width: 20%;
}   

input {
   margin-top: 10px;
   margin-bottom: 10px;
}

.btn-success {
   margin-bottom: 10px;
}

.bg-info {
   margin-top: 10px;
   background-color: rgba(255, 166, 0, 0.612) !important;
   color: black !important; 
   text-align: center;
}

.border-info {
   border-color: rgb(255, 166, 0) !important; 
}
    
form input.form-control {
   border-color: green !important; 
   box-shadow: 0 0 5px green;
}

form input.no-green-border {
   border-color: none !important; 
   box-shadow: none !important;
}

form input.typetext {
   background-color: rgb(248, 249, 250) !important; 
   border-color: rgba(0, 0, 0, 0.149) !important; 
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.146);
}

.citation-item .d-flex form:first-child {
   margin-right: 5px; 
}

.type-card {
   display: inline-block;
   background-color: #f8f9fa; /* Vaalea harmaa */
   color: #212529; /* Tumma teksti */
   padding: 5px 10px;
   border-radius: 8px;
   font-weight: bold;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Hieno varjo */
}

.info-list {
   display: flex;
   flex-direction: column;
   gap: 5px; /* Etäisyys riveillä */
}
.info-label {
   font-weight: bold;
   color: #007bff;
   display: inline-block;
   width: 100px; /* Kiinteä leveys, jotta arvot linjautuvat */
}

.info-label {
   font-weight: bold;
   color: #212529; /* Bootstrap btn-secondary tekstiväri */
   margin-right: 5px; /* Pieni väli arvon ja otsikon väliin */
}


